Repository GJCoke/monorepo-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, cspell lint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,vue,md}": [
    "eslint",
    "prettier --write"
  ],
  "*.{js,ts,mjs,cjs,json,jsx,tsx,css,less,scss,vue,html,md}": ["cspell lint"]
}

chore(root): add husky commit mssage hook
  .husky/commit-msg
  commitlint.config.ts
  package.json
Due: eslint, prettier --write, cspell lint

build(root): add husky pre push hook
  .husky/commit-msg
  .husky/pre-push
  .lintstagedrc.json
  apps/electron/src/index.ts
  apps/electron/tsconfig.json
  apps/web/src/index.ts
  apps/web/tsconfig.json
  commitlint.config.ts
  package.json
  tsconfig.json
Due: eslint, prettier --write, cspell lint

build(root): add rollup build test
  .lintstagedrc.json
  README.md
  commitlint.config.ts
  cspell.json
  eslint.config.ts
  package.json
  packages/axios/package.json
  packages/axios/src/constant.ts
  packages/axios/src/index.ts
  packages/axios/src/options.ts
  packages/axios/src/shared.ts
  packages/axios/src/type.ts
  packages/axios/tsconfig.json
  packages/components/package.json
  packages/components/src/Add/index.ts
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/nanoid.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.js
  scripts/dev.js
  scripts/rollup.config.generator.js
  tsconfig.json
Due: eslint, prettier --write, cspell lint

build(web): add web package
  .cspell/custom-dictionary.txt
  .gitignore
  README.md
  apps/web/.gitignore
  apps/web/README.md
  apps/web/index.html
  apps/web/package.json
  apps/web/public/vite.svg
  apps/web/src/App.vue
  apps/web/src/assets/vue.svg
  apps/web/src/components/HelloWorld.vue
  apps/web/src/index.ts
  apps/web/src/main.ts
  apps/web/src/style.css
  apps/web/tsconfig.json
  apps/web/typings/env.d.ts
  apps/web/vite.config.ts
  eslint.config.ts
  package.json
  packages/axios/package.json
  packages/components/package.json
  packages/components/src/Add/index.ts
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/rollup.config.generator.js
  tsconfig.json
Due: eslint, prettier --write, cspell lint

feat(electron): add electron build
  apps/electron/index.html
  apps/electron/package.json
  apps/electron/src/core/main.ts
  apps/electron/src/index.ts
  apps/electron/src/preload/index.ts
  apps/electron/tsconfig.json
  apps/electron/vite.config.ts
  apps/web/src/App.vue
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --write, cspell lint

fix(electron): fix ts check package not dependencies
  apps/electron/package.json
Due: cspell lint

feat(root): add turbo build and refactor rollup build
  .gitignore
  apps/desktop/index.html
  apps/desktop/package.json
  apps/desktop/src/core/main.ts
  apps/desktop/src/index.ts
  apps/desktop/src/preload/index.ts
  apps/desktop/tsconfig.json
  apps/desktop/vite.config.ts
  apps/web/.gitignore
  apps/web/README.md
  apps/web/package.json
  apps/web/src/App.vue
  commitlint.config.ts
  eslint.config.ts
  package.json
  packages/axios/package.json
  packages/builder/cli.ts
  packages/builder/package.json
  packages/builder/rollup.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.js
  scripts/dev.js
  scripts/rollup.config.generator.js
  tsconfig.json
  turbo.json
Due: eslint, prettier --write, cspell lint

fix(components): fix materials no response
  apps/web/package.json
  apps/web/public/favicon.svg
  packages/builder/cli.ts
  packages/builder/rollup.config.ts
  packages/materials/package.json
  packages/utils/package.json
Due: eslint, prettier --write, cspell lint

fix(root): fix package not type warning
  packages/alova/package.json
  packages/axios/package.json
  packages/builder/package.json
  packages/color/package.json
  packages/hooks/package.json
  packages/materials/package.json
Due: cspell lint

fix(web): fix soybean build
  apps/desktop/src/core/main.ts
  apps/web/package.json
  apps/web/src/typings/components.d.ts
Due: eslint, prettier --write, cspell lint

fix(web): Integrate the materials folder into the apps/web project for unified management and build
  apps/web/package.json
  pnpm-lock.yaml
Due: cspell lint

refactor(web): Integrate the materials folder into the apps/web project for unified management and build
  apps/web/src/layouts/base-layout/index.vue
  apps/web/src/layouts/modules/global-content/index.vue
  apps/web/src/layouts/modules/global-menu/components/first-level-menu.vue
  apps/web/src/layouts/modules/global-menu/modules/top-hybrid-header-first.vue
  apps/web/src/layouts/modules/global-menu/modules/vertical-hybrid-header-first.vue
  apps/web/src/layouts/modules/global-menu/modules/vertical-menu.vue
  apps/web/src/layouts/modules/global-menu/modules/vertical-mix-menu.vue
  apps/web/src/layouts/modules/global-tab/index.vue
  apps/web/src/materials/index.ts
  apps/web/src/materials/libs/admin-layout/index.module.css
  apps/web/src/materials/libs/admin-layout/index.module.css.d.ts
  apps/web/src/materials/libs/admin-layout/index.ts
  apps/web/src/materials/libs/admin-layout/index.vue
  apps/web/src/materials/libs/admin-layout/shared.ts
  apps/web/src/materials/libs/page-tab/button-tab.vue
  apps/web/src/materials/libs/page-tab/chrome-tab-bg.vue
  apps/web/src/materials/libs/page-tab/chrome-tab.vue
  apps/web/src/materials/libs/page-tab/index.module.css
  apps/web/src/materials/libs/page-tab/index.module.css.d.ts
  apps/web/src/materials/libs/page-tab/index.ts
  apps/web/src/materials/libs/page-tab/index.vue
  apps/web/src/materials/libs/page-tab/shared.ts
  apps/web/src/materials/libs/page-tab/slider-tab.vue
  apps/web/src/materials/libs/page-tab/svg-close.vue
  apps/web/src/materials/libs/simple-scrollbar/index.ts
  apps/web/src/materials/libs/simple-scrollbar/index.vue
  apps/web/src/materials/types/env.d.ts
  apps/web/src/materials/types/index.ts
  apps/web/src/typings/union-key.d.ts
  packages/materials/package.json
  packages/materials/src/index.ts
  packages/materials/tsconfig.json
Due: eslint, prettier --write, cspell lint

build(root): add changeset and CHANGELOG
  .changeset/config.json
  README.md
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
  package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/axios/CHANGELOG.md
  packages/axios/package.json
  packages/builder/CHANGELOG.md
  packages/builder/package.json
  packages/color/CHANGELOG.md
  packages/color/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write, cspell lint

fix(utils): fix hooks type check
  packages/hooks/package.json
  pnpm-lock.yaml
Due: cspell lint

chore(root): add packages scopes info
  commitlint.config.ts
Due: eslint, prettier --write, cspell lint

chore(web): update name
  apps/web/src/theme/preset/azir.json
  apps/web/src/theme/preset/compact.json
  apps/web/src/theme/preset/dark.json
  apps/web/src/theme/preset/default.json
Due: cspell lint

chore(root): add .env
  .gitignore
  apps/web/.env
Due: none

build(root): fix dev watch bug
  package.json
  pnpm-workspace.yaml
Due: cspell lint

build(root): fix turbo watch and prettier format code
  apps/web/src/router/elegant/imports.ts
  apps/web/src/router/elegant/routes.ts
  apps/web/src/router/elegant/transform.ts
  apps/web/src/typings/components.d.ts
  turbo.json
Due: eslint, prettier --write, cspell lint

build(root): fix prettier
  .prettierignore
  apps/web/src/router/elegant/imports.ts
  apps/web/src/router/elegant/routes.ts
  apps/web/src/router/elegant/transform.ts
  apps/web/src/typings/components.d.ts
Due: eslint, prettier --write, cspell lint

fix(root): fix turbo dev bug
  package.json
  packages/alova/package.json
  packages/axios/package.json
  packages/color/package.json
  packages/hooks/package.json
  packages/utils/package.json
  turbo.json
Due: cspell lint

fix(root): fix turbo bug
  packages/alova/package.json
  packages/axios/package.json
  packages/color/package.json
  packages/hooks/package.json
  packages/utils/package.json
  packages/utils/src/nanoid.ts
  turbo.json
Due: eslint, prettier --write, cspell lint

chore(utils): remove console log
  packages/utils/src/nanoid.ts
Due: eslint, prettier --write, cspell lint

build(root): add turbo and python lint
  .cspell/custom-dictionary.txt
  .lintstagedrc.json
  README.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/backend/scripts/monorepo/install.sh
  apps/backend/scripts/monorepo/mypy.sh
  apps/backend/scripts/monorepo/ruff.sh
  apps/backend/scripts/monorepo/run.sh
  apps/backend/scripts/monorepo/venv.sh
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
  cspell.json
  package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/axios/CHANGELOG.md
  packages/axios/package.json
  packages/builder/CHANGELOG.md
  packages/builder/package.json
  packages/color/CHANGELOG.md
  packages/color/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint, prettier --write, cspell lint

fix(root): fix husky hooks bug
  .lintstagedrc.json
  apps/backend/package.json
  package.json
  packages/utils/package.json
  turbo.json
Due: cspell lint

ci(web): magration system manager page by soybean admin
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
  apps/web/src/constants/business.ts
  apps/web/src/locales/langs/en-us.ts
  apps/web/src/locales/langs/zh-cn.ts
  apps/web/src/router/elegant/imports.ts
  apps/web/src/router/elegant/routes.ts
  apps/web/src/router/elegant/transform.ts
  apps/web/src/service/api/index.ts
  apps/web/src/service/api/system-manage.ts
  apps/web/src/typings/api/system-manage.d.ts
  apps/web/src/typings/app.d.ts
  apps/web/src/typings/components.d.ts
  apps/web/src/typings/elegant-router.d.ts
  apps/web/src/views/manage/menu/index.vue
  apps/web/src/views/manage/menu/modules/menu-operate-modal.vue
  apps/web/src/views/manage/menu/modules/shared.ts
  apps/web/src/views/manage/role/index.vue
  apps/web/src/views/manage/role/modules/button-auth-modal.vue
  apps/web/src/views/manage/role/modules/menu-auth-modal.vue
  apps/web/src/views/manage/role/modules/role-operate-drawer.vue
  apps/web/src/views/manage/role/modules/role-search.vue
  apps/web/src/views/manage/user-detail/[id].vue
  apps/web/src/views/manage/user/index.vue
  apps/web/src/views/manage/user/modules/user-operate-drawer.vue
  apps/web/src/views/manage/user/modules/user-search.vue
  eslint.config.ts
Due: eslint, prettier --write, cspell lint

fix(web): fix ts check bug
  apps/web/builder/plugins/router.ts
  apps/web/scripts/gen-i18n-types.ts
  apps/web/src/components/common/lang-switch.vue
  apps/web/src/constants/app.ts
  apps/web/src/constants/business.ts
  apps/web/src/constants/common.ts
  apps/web/src/layouts/modules/theme-drawer/modules/preset/modules/theme-preset.vue
  apps/web/src/locales/dayjs.ts
  apps/web/src/locales/naive.ts
  apps/web/src/store/modules/app/index.ts
  apps/web/src/typings/components.d.ts
  apps/web/src/typings/i18n.d.ts
  apps/web/src/utils/common.ts
  apps/web/src/views/_builtin/login/index.vue
  apps/web/src/views/manage/menu/modules/menu-operate-modal.vue
Due: eslint, prettier --write, cspell lint

docs(root): add i18n docs
  README.md
  docs/images/easy-i18n.png
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write, cspell lint

chore(root): update i18n json format
  apps/web/src/locales/langs/en-US/common.json
  apps/web/src/locales/langs/en-US/datatable.json
  apps/web/src/locales/langs/en-US/dropdown.json
  apps/web/src/locales/langs/en-US/form.json
  apps/web/src/locales/langs/en-US/icon.json
  apps/web/src/locales/langs/en-US/page.json
  apps/web/src/locales/langs/en-US/request.json
  apps/web/src/locales/langs/en-US/route.json
  apps/web/src/locales/langs/en-US/system.json
  apps/web/src/locales/langs/en-US/system\updateContent.json
  apps/web/src/locales/langs/en-US/theme.json
  apps/web/src/locales/langs/zh-CN/common.json
  apps/web/src/locales/langs/zh-CN/datatable.json
  apps/web/src/locales/langs/zh-CN/dropdown.json
  apps/web/src/locales/langs/zh-CN/form.json
  apps/web/src/locales/langs/zh-CN/icon.json
  apps/web/src/locales/langs/zh-CN/page.json
  apps/web/src/locales/langs/zh-CN/request.json
  apps/web/src/locales/langs/zh-CN/route.json
  apps/web/src/locales/langs/zh-CN/system.json
  apps/web/src/locales/langs/zh-CN/theme.json
Due: cspell lint

docs(root): update easy-i18n png
  docs/images/easy-i18n.png
Due: none
